body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
}

/* Logo */
.logo {
    text-align: center; 
    padding-top: 20px; 
    margin-bottom: 20px; 
}

.logo img {
    width: 100%;   
    height: 60px;  
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    background: #fff;
    height: 100vh;
    padding-left: 28px;
    padding-right: 28px;    
    flex-shrink: 0; 
}

.hamburger {
    display: none;
    position: absolute;
    top: 20px;
    left: 12px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    padding: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-list li i {
    margin-right: 10px;  
    font-size: 18px;
    color: #666;
}

.nav-list li:hover,
.nav-list .active {
    background: #eee;
    border-radius: 5px;
    font-weight: bold;
}

/* Separator Line */
.separator {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

/* Main Content */
#main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    margin-left: 300px;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.search {
    width: 70%;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 6px 16px;
    border-radius: 100px;
}

.search i {
    font-size: 18px;
    color: gray;
}

.search input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none; 
    font-size: 16px; 
    margin-left: 10px;
}

.profile {
    width: 30%;
    display: flex;
    align-items: center;
    background: white;
    padding: 6px 16px;
    border-radius: 50px;
    justify-content: space-between;
}

.profile i {
    font-size: 20px;
    color: gray;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 50%;
    padding: 4px;
    width: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out; 
}

.profile i:last-child {
    border: none;
    padding: 4px;
    width: auto;
    height: auto;
}

.profile i:hover {
    background-color: lightgray;
}

.main-content__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

/* Overview Cards */
#overview {
    margin-top: 20px;
    width: 70%; 
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 0 20px 12px 20px;
    border-radius: 10px;
}

.card {
    width: 100%;
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
    margin-bottom: 8px;
    gap: 8px;
}

.card-row .card:last-child {
    margin-right: 8px; 
}

.card.balance,
.card.saving,
.card.expenses,
.card.incomes {
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.card.balance:hover,
.card.saving:hover,
.card.expenses:hover,
.card.incomes:hover {
    background-color: #4745A4;
    color: white;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-header i {
    font-size: 24px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 50%;
}

.card-header-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.comparison {
    font-size: 12px;
    margin: 0;
    color: #9a9595;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.balance-amount {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.card-body i {
    font-size: 18px;
}

.fas.fa-arrow-up {
    font-size: 12px; 
    padding: 2px 4px;
}

/* Saving Plan */
#saving-plan {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 30%; 
    background: #fff;
    padding: 0 20px 12px 20px;
    border-radius: 10px;
}

.plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

progress {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;     
    border: none;
}


progress.bali-vacation::-webkit-progress-value {
    background-color: #4745A4;
}

progress.new-gadget::-webkit-progress-value {
    background-color: orange;
}

progress.charity::-webkit-progress-value {
    background-color: green;
}

progress::-webkit-progress-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
}

progress::-moz-progress-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.target-date {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
    white-space: nowrap;
    display: inline; 
    margin-left: 15px; 
}

/* Recent Transcation */
#recent-transaction {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 30%; 
    background: #fff;
    padding: 0 20px 12px 20px;
    border-radius: 10px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; 
}

.section-header a {
    text-decoration: none;
}

.recent-transactions{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #fff;
    margin-top: 4px;
}

.app {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.recent-transactions .amount {
    font-weight: bold;
    color: black;
}

.recent-transactions .status {
    color: green;
    font-size: 14px;
    margin-top: 2px; 
    text-align: center;
}

/* analytics */
#analytics {
    margin-top: 20px;
    width: 70%;
    padding: 0 20px 12px 20px;
    background: white;
    border-radius: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.legend {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}

.blue {
    background-color: #6466F1;
}

.yellow {
    background-color: #EAB308;
}

select {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.chart-container {
    width: 100%;
    height: 240px;
}

/* Mobile view */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    
    .sidebar {
        position: fixed;
        left: -300px; 
        top: 0;
        width: 240px;
        height: 100vh;
        background: white;
        transition: left 0.3s ease-in-out;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .sidebar.active {
        left: 0; 
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .sidebar.active + .overlay {
        display: block;
    }

    body.sidebar-active {
        overflow: hidden;
    }
    
    .sidebar {
        overflow-y: auto;
    }

    .sidebar.active ~ #main-content {
        overflow: hidden;
        height: 100vh;
    }
    
    header {
        flex-direction: column;
        gap: 12px;
        width: 100%;
        margin-bottom: 4px;
    }

    .hamburger {
        display: block;
    }
    
    .profile {
        width: 100%;
        padding: 4px 6px;
    }

    .search {
        padding: 4px 6px;
    }
    
    #main-content {
        padding: 12px;
        margin-left: 0;
        margin-right: 6px;
    }
    
    .main-content__container {
        flex-direction: column;
        gap: 16px;
        width: 100%;
    }
    
    #overview,
    #analytics,
    #saving-plan,
    #recent-transaction {
        width: 100%;
        margin-top: 4px;
        padding: 4px;
    }
    
    .card-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin-left: 0;
        margin-bottom: 0;
    }

    
    .card-row .card:last-child {
        margin-right: 0; 
    }
    
    .card {
        width: 100%;
        padding: 4px;
    }
    
    .card-header i{
        font-size: 12px;
    }

    .section-header {
        padding: 8px 0;
    }
    
    .transaction {
        padding: 8px 0;
    }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
        height: 100%;
        width: 180px;
        padding: 16px 12px;
    }
    
    .nav-list li {
        padding: 12px 8px;
    }
    
    header {
        gap: 16px;
        padding: 0 8px;
    }
    
    .search {
        width: 65%;
    }
    
    .profile {
        width: 30%;
    }
    
    #main-content {
        padding: 16px 8px;
        margin-left: 220px;
    }
    
    .main-content__container {
        gap: 16px;
    }
    
    #overview {
        width: 100%;
    }
    
    #analytics {
        width: 100%;
    }
    
    .card-row {
        gap: 12px;
    }
    
    .card {
        width: calc(50% - 6px);
    }
    
    #saving-plan,
    #recent-transaction {
        width: calc(50% - 8px);
    }
    
    .plan-header,
    .section-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    
    .target-date {
        margin-left: 0;
    }
}