<section class="overview">
    <h4>Overview</h4>
    <div class="card-row">
        <div class="card balance">
            <div class="card-header">
                <i class="fas fa-wallet"></i>
                <div class="card-header-text">
                    <p class="title">Your Balance</p>
                    <p class="comparison"><i class="fas fa-arrow-up" style="background-color: green; color: lightgreen;"></i> 15% compared with last month</p>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <p class="balance-amount">$28,891.138</p>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>

        <div class="card saving">
            <div class="card-header">
                <span style="display: inline-flex; align-items: center; justify-content: center; 
                    width: 40px; height: 40px; border-radius: 50%; border: 1px solid gray; color: green;">
                    <i class="fas fa-bookmark"></i>
                </span>
                <div class="card-header-text">
                <p class="title">Saving</p>
                <p class="comparison"><i class="fas fa-arrow-up" style="background-color: lightcoral; color: red;"></i> 10% compared with last month</p>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <p class="balance-amount">$1,050.44</p>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>        
    </div>
    
    <div class="card-row">
        <div class="card expenses">
            <div class="card-header">
                <span style="display: inline-flex; align-items: center; justify-content: center; 
                    width: 40px; height: 40px; border-radius: 50%; border: 1px solid gray; color: orange;">
                    <i class="fas fa-arrow-up-from-bracket"></i>
                </span>
                <div class="card-header-text">
                    <p class="title">Expenses</p>
                    <p class="comparison"><i class="fas fa-arrow-up" style="background-color: #FFD580; color: orange;"></i> 2% compared with last month</p>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <p class="balance-amount">$200.31</p>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        
        <div class="card incomes">
            <div class="card-header">
                <span style="display: inline-flex; align-items: center; justify-content: center; 
                    width: 40px; height: 40px; border-radius: 50%; border: 1px solid gray; color: blue;">
                    <i class="fas fa-money-bill-wave"></i>
                </span>
                <div class="card-header-text">
                    <p class="title">Incomes</p>
                    <p class="comparison"><i class="fas fa-arrow-up" style="background-color: lightblue; color: blue;"></i> 8% compared with last month</p>
                </div>
            </div>
            <hr>
            <div class="card-body">
                <p class="balance-amount">$21,121.0</p>
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    <div>
</section>