<div class="recent-transactions">
    <div class="section-header">
        <h4>Recent Transaction</h4>
        <a href="#">See All</a>
    </div>
    <div class="transaction">
        <div class="app">
            <div class="icon">
                <i class="fas fa-image"></i> 
            </div>
            <div class="details">
                <strong>Figma</strong>
                <p>August 20, 2022</p>
            </div>  
        </div>
        <div class="status">
            <div class="amount completed">$100 </div>
            <div class="status">Completed</div>
        </div>
    </div>
    <div class="transaction">
        <div class="app">
            <div class="icon">
                <i class="fas fa-image"></i> 
            </div>
            <div class="details">
                <strong>YouTube</strong>
                <p>August 20, 2022</p>
            </div>
        </div>
        <div class="status">
            <div class="amount completed">$120 </div>
        <div class="status">Completed</div>
        </div>
    </div>
    <div class="transaction">
        <div class="app">
            <div class="icon">
                <i class="fas fa-image"></i> 
            </div>
            <div class="details">
                <strong>Spotify</strong>
                <p>August 20, 2022</p>
            </div>  
        </div>
        <div class="status">
            <div class="amount completed">$15</div>
            <div class="status">Completed</div>
        </div>
    </div>
    <div class="transaction">
        <div class="app">
            <div class="icon">
                <i class="fas fa-image"></i> 
            </div>
            <div class="details">
                <strong>Freepik</strong>
                <p>August 20, 2022</p>
            </div>  
        </div>
        <div class="status">
            <div class="amount completed">$300 </div>
            <div class="status">Completed</div>
        </div>
    </div>
</div>