<!--<div class="recent-transactions">
    <h3>Recent Transactions</h3>
    <ul>
        <li>Figma - $100</li>
        <li>Youtube - $120</li>
        <li>Spotify - $15</li>
        <li>Freepik - $300</li>
    </ul>
</div>-->
<div class="recent-transactions">
    <div class="section-header">
        <h3>Recent Transactions</h3>
        <a href="#">See All</a>
    </div>

    <div class="transaction">
        <div class="icon">
            <i class="fas fa-image"></i> 
        </div>
        <div class="details">
            <h4>Figma</h4>
            <p>August 20, 2022</p>
        
        </div>
        <div class="amount completed">$100 </div>
        <div class="status">Completed</div>
      
    </div>

    <div class="transaction">
        <div class="icon">
            <i class="fas fa-image"></i> 
        </div>
        <div class="details">
            <h4>YouTube</h4>
            <p>August 20, 2022</p>
        </div>
        <div class="amount completed">$120 </div>
        <div class="status">Completed</div>
    </div>

    <div class="transaction">
        <div class="icon">
            <i class="fas fa-image"></i> 
        </div>
        <div class="details">
            <h4>Spotify</h4>
            <p>August 20, 2022</p>
        </div>
        <div class="amount completed">$15</div>
        <div class="status">Completed</div>
    </div>

    <div class="transaction">
        <div class="icon">
            <i class="fas fa-image"></i> 
        </div>
        <div class="details">
            <h4>Freepik</h4>
            <p>August 20, 2022</p>
        </div>
        <div class="amount completed">$300 </div>
        <div class="status">Completed</div>
    </div>
</div>