<div class="saving-plan">
    <div class="section-header">
        <h4>Saving Plan</h4>
        <a href="#">See All</a>
    </div>
   
    <div class="plan">
        <div class="plan-header">
            <p><strong>Bali Vacation</strong></p>
            <p class="target-date">Target: August 25, 2022</p>
        </div>
        <div class="plan-header">
            <span><strong>$1950,21</strong>/$4,000</span>
            <span style="color: #4745A4;">48%</span>
        </div>
        <progress class="bali-vacation" value="1950" max="4000"></progress>
    </div>
    <div class="plan">
        <div class="plan-header">
            <p><strong>New Gadget</strong></p>
            <p class="target-date">Target: August 25, 2022</p>
        </div>
        <div class="plan-header">
            <span><strong>$790,21</strong>/$1,000</span>
            <span style="color: orange;">79%</span>
        </div>
        <progress class="new-gadget" value="790" max="1000"></progress>
    </div>
    <div class="plan">
        <div class="plan-header">
            <p><strong>Charity</strong></p>
            <p class="target-date">Target: August 25, 2022</p>
        </div>
        <div class="plan-header">
            <span><strong>$32,111   </strong>/$100</span>
            <span style="color: green;">32%</span>
        </div>
        <progress class="charity" value="32" max="100"></progress>
    </div>
</div>